@model IEnumerable<InsuranceAgency.Models.Service>

@{
    ViewData["Title"] = "Index";
}

<h1>Услуги</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceObjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumCoef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentCoef)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceObjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumCoef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentCoef)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if(User.IsInRole("Administrator")){
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
