@model IEnumerable<InsuranceAgency.Models.Policy>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="filters">
    <button class="btn btn-primary" onclick="filterByStatus(1)">Активен</button>
    <button class="btn btn-warning" onclick="filterByStatus(3)">Подозрительный</button>
    <button class="btn btn-danger" onclick="filterByStatus(4)">Аннулирован</button>
    <button class="btn btn-secondary" onclick="filterByStatus(2)">Истек</button>
    <input type="text" id="searchClient" placeholder="Поиск по Email или ФИО" class="form-control" style="display:inline-block; width:auto; margin-left:15px;">
    <button class="btn btn-info" onclick="searchByClient()">Найти</button>
    <p>
        <button onclick="resetFilters()" class="btn btn-secondary">Сбросить фильтры</button>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.PremiumAmount)</th>
            <th>@Html.DisplayNameFor(model => model.PaymentCoef)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>ФИО клиента</th>
            <th>Объект страхования</th>
            <th>@Html.DisplayNameFor(model => model.Client.Email)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody id="policiesTableBody">
        @await Html.PartialAsync("_PolicyRows", Model)
    </tbody>
</table>

<script>
    function filterByStatus(status) {
        $.get('/Policies/FilterByStatus', { status: status }, function (data) {
            $('#policiesTableBody').html(data);
        });
    }

    function searchByClient() {
        var query = $('#searchClient').val();
        $.get('/Policies/SearchByClient', { query: query }, function (data) {
            $('#policiesTableBody').html(data);
        });
    }

    function changeStatus(policyId, newStatus) {
        $.post('/Policies/ChangeStatus', { id: policyId, status: newStatus }, function () {
            location.reload();
        });
    }

    // Функция для сброса фильтров и поиска
    function resetFilters() {
        $.get('/Policies/Index', function (data) {
            // Парсим HTML страницы, чтобы извлечь обновленное тело таблицы
            const newTableBody = $(data).find('#policiesTableBody').html();
            $('#policiesTableBody').html(newTableBody);
        });
    }
</script>
